@model user_data
@{
    ViewBag.Title = "change_password";
}

<h2>change_password</h2>
<div>@Html.ActionLink("Go To Profile","profile")</div>
<h4>@ViewBag.ok</h4>
<br />
<div class="form-group">
    <form method="post">

        <div class="row">
            <div class="col-md-2">Old Password</div>
            <div class="col-md-1">@Html.Password("old")</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">New Password</div>
            <div class="col-md-1">@Html.Password("password")</div>
        </div>
        <div class="row">
            <div class="col-md-2">Confirm Password</div>
            <div class="col-md-1">@Html.Password("confirm_password")</div>


        </div>
        <input type="submit" class="btn btn-info" value="update" />
    </form>
</div>
<div>@ViewBag.error</div>
<div>@ViewBag.retry</div>