@using PagedList.Mvc
@model PagedList.PagedList<user_data>


<h2>Users</h2>
<div class="container">
    <form>
        <div class="text-center">@Html.TextBox("search") <input type="submit" value="search" class="btn glyphicon-search" /></div>
    </form>
</div>
<table class="table">
    <tr>
        <td>@Html.ActionLink("Name","users", new {sort ="name"})</td>
        <td>@Html.ActionLink("Email", "users", new { sort = "email" })</td>
        <td>Adress</td>
        <td>@Html.ActionLink("Age", "users", new { sort = "age" })</td>
        <td>photo</td>
        <td>cv</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.user_name</td>
            <td>@item.email</td>
            <td>@item.adress</td>
            <td>@item.age</td>
            <td><img src="~/attach/@item.photo" width="100" height="100" /></td>
            <td>@Html.ActionLink("Download CV", "download", new {cv = item.cv})</td>
            <td>@Html.ActionLink("edit", "edit", new {id=item.user_id}, new {@class = "btn btn-info"})</td>|
            <td>@Html.ActionLink("delete","delete", new { id = item.user_id }, new {@class = "btn btn-danger", onclick = "return confirm ( 'are you sure to delete"+item.user_name+"')"})</td>
            
        </tr>
    }
</table>
@Html.PagedListPager(Model,n => Url.Action("users", new {pageno = n , sort = ViewBag.sort, ViewBag.search}))