@model List<news>
@{
    ViewBag.Title = "newsByCat";
}

<h2>newsByCat</h2>

<table class="table">
    <tr>
        <td>@Html.ActionLink("Title", "user_news", new { sort = "title" })</td>
        <td>Brief</td>
        <td>Description</td>
        <td>photo</td>
        <td>@Html.ActionLink("time", "user_news", new { sort = "time" })</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.title</td>
            <td>@item.brief</td>
            <td>@item.description</td>
            <td><img src="~/attach/@item.photo" width="100" height="100" /></td>
            <td>@item.datetime</td>
            <td>@Html.ActionLink("profile","profile","Home", new { id = item.user_id }, new { @class = "btn btn-primary" })</td>
        </tr>
    }

</table>