<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav">
                    <li>@Html.ActionLink("Create", "create", "Home")</li>
                    @if (Session["userid"] == null)
                    {
                        <li>@Html.ActionLink("Login", "login", "Home")</li>
                    }
                    @if (Session["userid"] != null)
                    {
                        <li>@Html.ActionLink("Log Out", "logout", "Home")</li>
                        <li>@Html.ActionLink("Users", "users", "Home")</li>
                        <li>@Html.ActionLink("Add New", "create_new", "Home")</li>
                        <li>@Html.ActionLink("Profile", "profile", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (Session["userid"] != null)
            {

<script>
    $(_ => {
        $.ajax({
            url: '/user/cat_news',
            method: 'GET',
            success: data => {
                $("#nav").append(data)
            }
        })
    })


</script>
            }
</body>
</html>
